atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
configobj==5.0.6
coverage==4.5.2
decorator==4.3.2
Flask==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
pbr==5.1.1
pluggy==0.8.1
py==1.7.0
pytest==4.1.1
pytest-cov==2.6.1
six==1.12.0
SQLAlchemy==1.2.17
sqlalchemy-migrate==0.12.0
sqlparse==0.2.4
Tempita==0.5.2
Werkzeug==0.14.1
